<style>
    #newGame{
        position:fixed;
        left:calc(50% - 15rem);
        top:calc(50% - 15rem);
        width:30rem;
        height:30rem;
        outline:solid 1px rgba(108,95,93,255);
        outline-offset: -1px;
    }
</style>
<div id="newGame">
    <div>新的游戏</div>
    <p>请选择您开始游戏的模式：</p>
    <p>本地模式不需要账号，您将不能购买一些增值体验和联服活动，但不会影响核心游戏体验，您的存档仅保存在本地，所以请勿清理浏览器缓存，否则会导致您的游戏存档丢失。</p>
    <p>账号模式可以使用您同人社区发布作品赢得的积分购买后期增加的DLC剧情与一些增值服装与道具，您的存档将被同步在云端，可以随时随地获取。</p>
    <p>该游戏目前尚未发布，只有拥有内测账号的人才能进行游戏，内测仅对cleeGame成员开放，您可以前往<a href="archive.cleegame.com">注册</a>账号。</p>
</div>