<style>
    .workInfo{
        border:1px solid rgba(205,205,205,255);
        box-shadow:0px 0px 8px rgba(215,215,215,188);
        display:flex;
        flex-direction:column;
        padding-top:15px;
        padding-bottom:0;
        font-size:14px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:2rem;
        width:85%;
        color:rgba(108,95,93,255);
        flex:1;
        height:auto;
        min-width:40rem;
        max-width:60rem;
    }

    .workInfo >div:nth-last-child(n+3){
        margin-left:60px;
        margin-right:30px;
    }
    .workInfo >div:nth-last-child(n+3){
        line-height:1.5rem;
        margin-bottom:5px;
    }
    .workInfo >div:nth-child(2) {
        line-height:1rem;
        margin-bottom:18px;
        margin-top:1px;
        margin-left:60px;
    }

    .workInfo >div:nth-child(2) >div:nth-child(odd){
        margin-left:15px;
    }

    .markerColor{
        color:rgba(182,161,147,255);
        font-weight:bold;
    }

    .marker{
        color:rgba(107,187,167,218);
        font-weight:bold;
        margin-left:2rem;
        border-radius:5px;
        border:2px solid rgba(107,187,167,218);
        padding-left:4px;
        padding-right:4px;
        height:1.2rem;
        line-height:1.2rem;
    }

    .titleRow{
        display:flex;
        flex-direction:row;
        line-height:1.8rem;
        color:rgba(131,131,131,255);
        margin-left:45px;
    }

    .titleRow >div{
        margin-right:10px;
        line-height:1.5rem;
        height:1.5rem;
    }

    .titleRow a{
        font-weight:bold;
        color:rgba(108,95,93,255);
        text-decoration:none;
        font-size:16px;
    }

    .titleRow a:hover{
        text-decoration:underline;
    }


    .editRow{
        margin-top:10px;
        padding-bottom:10px;
        display:flex;
        flex-direction:row;
    }

    .editButton{
        margin-left:15px;
        background:rgba(0,0,0,0);
        border:none;
        color:rgba(138,138,138,255);
    }

    .editButton:first-child{
        margin-left:auto;
    }

    .editRow a{
        background:rgba(0,0,0,0);
        border:none;
        color:rgba(138,138,138,255);
        text-decoration:none;
        font-size:14px;
    }

    .editRow a:hover{
        color:rgba(181,181,181,255);
    }

    .editButton:hover{
        color:rgba(181,181,181,255);
    }

    .likedButton{
        color:darkred;
        font-weight:bold;
        background:none;
        border:none;
        margin-left:15px;
    }

    .likedButton:hover{
        color:orangered;
    }

    .feedbackInfo{
        border-top:1px solid rgba(205,205,205,255);
        box-shadow:0px 0px 8px rgba(215,215,215,188) inset;
        min-height:2rem;
    }

    .feedbackInfo >div{
        padding-left:40px;
        min-height:2rem;
        border-bottom:1px solid rgba(205,205,205,255);
        margin-left:0;
        display:flex;
        flex-direction:column;
    }

    .feedbackInfo >div >div{
        margin-top:auto;
        margin-bottom:auto;
    }


    .feedbackInfo >div:last-child{
        border-bottom:none;
    }

    .feedbackEntry {
        margin-left:40px;
    }

    .feedbackEntry a{
        margin-right:10px;
        text-decoration:none;
        color:rgba(158,142,166,255);
        font-weight:bold;
    }

    .feedbackEntry a:hover{
        margin-right:10px;
        text-decoration:none;
        color:rgba(139,100,127,255);
    }


    .grade{
        display:block;
        width:auto;
        border-radius:15px;
        padding-left:10px;
        padding-right:10px;
        color:white;
        font-family: "Microsoft YaHei UI",serif;
        font-weight:bold;
        background:rgba(182,161,147,255);
        font-size:12px;
        margin-right:1rem;
        height:1.5rem;
        line-height:1.5rem;
        margin-top:auto;
        margin-bottom:auto;
    }

    .tag {
        border-radius:5px;
        height:1rem;
        line-height:1rem;
        margin-left:10px;
        padding:1px;
        padding-left:4px;
        padding-right:4px;
        color:rgba(181,163,160,255);
        border:1px solid rgba(181,163,160,255);
        text-decoration:none;
    }

    .tag:hover{
        background:rgba(181,163,160,255);
        color:white;
    }

    .tagRow{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }

    .subInfoRow{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .subInfoRow >a{
        font-weight:bold;
        color:rgba(109,100,136,1);
        margin-left:3px;
    }

    .subInfoRow >a:hover{
        color:rgba(184,173,217,1);
    }


</style>

<div style="display:flex;flex-direction:column;flex:1;" class="workInfo work-info-outer">
    <div class="titleRow" ng-if="!item.blocked">
        <div class="grade" grade-show grade="{{item.chapter.grade}}">{{item.chapter.grade | grade:gradeTemplate }} </div>
        <div ng-if="item.infoType==1"><span class="markerColor"><%- websiteInfo[27] %></span>
            <a href="{{'/fanfic/work/'+item.work._id}}">{{item.work.title}}</a>
            <span class="markerColor" ng-if="item.index.prev != null"><%- websiteInfo[28] %></span><span class="markerColor" ng-if="item.index.prev == null"><%- websiteInfo[29] %></span></div>
        <div><a href="{{ item | workInfoLink:type }}">{{item | workInfoTitle:type}}</a></div>
        <div ng-if="item.infoType==0" class="marker markerColor" ><%- websiteInfo[30] %></div>
        <div style="margin-left:auto;">{{item | workInfoDate:type}}</div>
    </div>
    <div class="titleRow" ng-if="item.blocked">
        <div ng-if="item.infoType==1" style="text-decoration:line-through;">
            <span class="markerColor"><%- websiteInfo[27] %></span>
            <span style="font-weight:bold;font-size:1.2rem;">{{item.work.title}}</span>
            <span class="markerColor" ng-if="item.index.prev != null"><%- websiteInfo[28] %></span>
            <span class="markerColor" ng-if="item.index.prev == null"><%- websiteInfo[29] %></span>
        </div>
        <div><span style="font-weight:bold;font-size:1.2rem;text-decoration:line-through;">{{item | workInfoTitle:type}}</span></div>
        <div ng-if="item.infoType==0" class="marker markerColor" ><%- websiteInfo[30] %></div>
        <div style="margin-left:auto;">{{item | workInfoDate:type}}</div>
    </div>
    <div class="subInfoRow">
        <div><%- websiteInfo[31] %>:</div>
        <a href="{{'/users/'+item.work.user}}">{{item.chapter.user.user}}</a>
        <div><%- websiteInfo[32] %>:</div>
        <div>{{item | workInfoWordCount:type}}<%- websiteInfo[33] %></div>
        <div ng-show="item.infoType== 0"><%- websiteInfo[34] %>:</div>
        <div ng-show="item.infoType== 0">{{item.work.chapterCount}}</div>
        <div><%- websiteInfo[35] %>:</div>
        <div>{{item | workInfoVisited:type}}</div>
        <div><%- websiteInfo[36] %>:</div>
        <div>{{item.work.status | workInfoStatus}}</div>
    </div>
    <div class="tagRow" ng-if="!item.blocked">
        <div style="margin-right:10px;margin-top:auto;margin-bottom:auto;height:1rem;line-height:1rem;"><%- websiteInfo[37]%>:</div>
        <a ng-repeat="fandom in item.chapter.fandom" href="{{'/tag?id='+ getTag(fandom)}}" class="tag">{{fandom}}</a>
    </div>
    <div class="tagRow" ng-if="!item.blocked">
        <div style="margin-right:10px;margin-top:auto;margin-bottom:auto;height:1rem;line-height:1rem;"><%- websiteInfo[38]%>:</div>
        <a ng-repeat="relation in item.chapter.relationships" href="{{'/tag?id='+ getTag(relation)}}" class="tag">{{relation}}</a>
    </div>
    <div class="tagRow" ng-if="!item.blocked">
        <div style="margin-right:10px;margin-top:auto;margin-bottom:auto;height:1rem;line-height:1rem;"><%- websiteInfo[39]%>:</div>
        <a ng-repeat="character in item.chapter.characters" href="{{'/tag?id='+ getTag(character)}}" class="tag">{{character}}</a>
    </div>
    <div class="tagRow" ng-if="!item.blocked">
        <div style="margin-right:10px;margin-top:auto;margin-bottom:auto;height:1rem;line-height:1rem;"><%- websiteInfo[40] %>:</div>
        <a ng-repeat="tag in item.chapter.tag" href="{{'/tag?id='+ getTag(tag)}}" class="tag">{{tag}}</a>
    </div>
    <div ng-if="item.blocked">
        <span style="padding-left:2rem;"><b>该作品相关章节因为不符合您所在地区的法律法规，已经被屏蔽。</b></span>
    </div>
    <div ng-if="!item.blocked">
        <div><span ng-if="item.infoType===1"><%- websiteInfo[42] %></span><span ng-show="item.infoType===0"><%- websiteInfo[43] %></span><%- websiteInfo[41] %>:</div>
        <div style="margin-left:20px;">{{item.chapter.intro | introType}}</div>
    </div>
    <div class="editRow" ng-if="!item.blocked">
        <button class="editButton" ng-click="showFeedbackList()" ng-if="(item.work.liked+ item.work.bookmarked )>0"><%- websiteInfo[44] %>({{item.work.liked+ item.work.bookmarked}})</button>
        <button class="editButton" ng-click="deleteItem()" ng-if="item.work.user == readerId"><%- websiteInfo[45] %></button>
        <button class="editButton"><a href="{{'/fanfic/post/edit?id='+item.index._id}}" ng-if="item.work.user == readerId" target="_blank"><%- websiteInfo[46] %></a></button>
        <button ng-class="{'editButton':!liked,'likedButton':liked}" ng-if="item.work.user != readerId" ng-click="likeIt()"><span ng-show="liked"><%- websiteInfo[48] %></span><span ng-show="!liked"><%- websiteInfo[47] %></span>({{item.work.liked}})</button>
        <button ng-class="{'editButton':!bookMarked,'likedButton':bookMarked}" ng-if="item.work.user != readerId" ng-click="bookMarkIt()"><span ng-show="bookMarked"><%- websiteInfo[50] %></span><span ng-show="!bookMarked"><%- websiteInfo[49] %></span>({{item.work.bookmarked}})</button>
        <button class="editButton" ng-click="showCommentList()"><%- websiteInfo[51] %>(<span ng-if="item.infoType ===0">{{item.work.comments}}</span><span ng-show="item.infoType ===1">{{item.chapter.comments}}</span>)</button>
    </div>
    <div>
    </div>
    <% if (user && user.settings && user.isAdmin){ %>
    <div style="margin:0;padding-left:2rem;min-height:2rem;border-top:solid 1px gray;display:flex;flex-direction:row;background:rgba(223,216,214,255);">
        <div style="margin-top:auto;margin-bottom:auto;">调整分级:</div>
        <select ng-model="targetGrade" style="height:1.5rem;margin-top:auto;margin-bottom:auto;">
            <option value="0">全年龄向</option>
            <option value="1">NC-17</option>
            <option value="2">NC-21</option>
        </select>
        <button ng-click="changeGrade()" style="margin-top:auto;margin-bottom:auto;margin-left:1.2rem;">更改分级</button>
    </div>
    <% } %>
    <div ng-show="showFeedBack" class="feedbackInfo work-info-outer">
        <div style="border-bottom:none;"><div class="feedbackEntry" ng-show="item.work.visitorLiked >0"><%- websiteInfo[53] %><b style="margin-left:5px;margin-right:5px;">{{item.work.visitorLiked}}</b><%- websiteInfo[52] %></div></div>
        <div style="min-height:15px;" ng-show="feedback.length>0"></div>
        <div ng-repeat="feedback in feedback">
           <div class="feedbackEntry"><a href="{{'/users/'+feedback.user}}" target="_blank">{{feedback.userName}}</a> <span ng-if="feedback.type==1"><%- websiteInfo[54] %></span><span ng-if="feedback.type==2"><%- websiteInfo[55] %></span><%- websiteInfo[56] %></div>
        </div>
        <div style="min-height:3rem;" ng-show="requestingFeed">
        </div>
        <div style="min-height:3rem;" ng-show="feedback.length>15">
            <div style="margin-top:auto;margin-bottom:15px;"><button class="editButton" style="margin-right:auto;margin-left:0" ng-click="showFeedbackList()"><%- websiteInfo[57] %> <i class="fas fa-angle-up"></i></button></div>
        </div>
    </div>
    <div ng-show="showComment" class="feedbackInfo work-info-outer">
        <comment-info></comment-info>
    </div>
</div>