<style>

    body{
        color:rgba(190,150,124,1);
    }
    .pinkLine{
        background:rgba(236,199,184,1);
        height:1.8rem;
        font-size:1.2rem;
        width:6rem;
        text-align:center;
        color:white;
        padding-left:1.5rem;
        padding-right:1.5rem;
        font-family: "Arial Rounded MT Bold",serif;
        font-weight:bold;
        line-height:1.8rem;
        margin-bottom:1.2rem;
    }

    a{
        color:rgba(155,60,84,1);
        text-decoration: none;
    }

    a:hover{
        color:rgba(221,174,185,1);
    }

    a:after{
        margin-left:1rem;
        content:"←";
    }

    .contactContents{
        margin-bottom:2rem;
        min-height:5rem;
    }


</style>

<div style="margin-left:2rem;display:flex;flex-direction:column;margin-top:4.5rem;">
    <div style="margin-top:4.5rem;">
        <div class="pinkLine">联系站主</div>
        <div class="contactContents" style="padding-left:2rem;">
            <span>邮箱：</span><a href="mailto: cleegame@outlook.com">cleegame@outlook.com</a>
        </div>

        <div class="pinkLine">联系绘师</div>
        <div class="contactContents" style="padding-left:2rem;">
            <span>暂无</span>
        </div>

        <div class="pinkLine">友情链接</div>
        <div style="padding-left:2rem;">
            <span>暂无</span>
        </div>
    </div>
</div>