<style>
    .displayRow{
        margin-bottom:0.5rem;
    }

    .displayRow >div:first-child{
        min-width:6rem;
        text-align:right;
    }

    .displayRow input{
        height:1.5rem;
    }

    .displayRow button{
        padding:5px;
        padding-top:3px;
        padding-bottom:3px;
    }

     #loginWindow >div:nth-last-child(n+3){
         padding-right:2rem;
     }

     .pwdReset{
         margin-top:auto;
         margin-bottom:0;
         line-height:1.5rem;
         font-weight:bold;
     }

</style>
<div id="loginWindow">
    <div class="displayRow">
        <div style="text-align:right;margin-right:10px;"><%- websiteInfo[23] %>:</div>
        <input ng-model="data[0]" ng-blur="checkUser()">
        <div ng-show="userChecking" class="anim" style="height:1rem;width:28px;max-width:28px;margin-left:5px;"><img src="/img/loading.gif" style="width:22px;height:22px;"></div>
        <div ng-show="userErr!=''" style="margin-right:auto;margin-left:1rem;margin-top:auto;margin-bottom:auto;font-size:0.8rem;color:darkred;">{{userErr}}</div>
    </div>
    <div class="displayRow" ng-if="loginMode===1">
        <div style="text-align:right;margin-right:10px;"><%- websiteInfo[25] %>:</div>
        <div>{{mail}}</div>
    </div>
    <div class="displayRow">
        <div style="text-align:right;margin-right:10px;"><%- websiteInfo[24] %>:</div>
        <input type="password" ng-model="data[1]" maxlength="12">
    </div>
    <div class="displayRow" ng-if="loginMode===1">
        <div style="text-align:right;margin-right:10px;"><%- websiteInfo[26] %>:</div>
        <div id="register_intro">{{intro}}</div>
    </div>
    <div class="displayRow">
        <a href="/resetPwdRequest" class="pwdReset" ng-if="loginMode ===0"><%- websiteInfo[95] %></a>
        <button style="margin-right:0;margin-left:auto;margin-top:1rem;" class="grand-button" ng-click="sendLogin()" ng-disabled="requesting">{{submitSign}}</button>
    </div>
    <div class="displayRow"></div>
</div>
<div  style="padding-left:2rem;display:flex;" ng-show="error"><div style="margin:auto;color:darkred;font-weight:bold;text-align:center;">{{error}}</div></div>
