.flbst0{fill:#231815;}
.flbst1{fill:none;stroke:#231815;stroke-miterlimit:10;}
.flbst2{fill:#FFFFFF;}

.flb2st0{fill:#231815;}
.flb2st1{fill:none;stroke:#231815;stroke-miterlimit:10;}
.flb2st2{fill:#FFFFFF;}
