<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/fonts.css">

</head>

<style>
    #mainBoard{
        display:flex;
        width:100%;
        height:100%;
        color:rgba(190,150,124,1);
        font-size:2rem;
        font-weight:bold;
    }

</style>
<body>
<div id="topLine">
    <a class ="link2" href="/" style="margin-left:auto;">返回首页</a>
</div>

<div id="mainBoard">
    <p style="margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;text-align:center;">对不起，我们没有找到该网页。<br>该网页或许尚在施工中，敬请期待。</p>
</div>
</body>

</html>