body{
    background-color: #fffef5;
    background-image: linear-gradient(90deg, rgba(255,231,225,.8) 50%, transparent 50%),
    linear-gradient(rgba(255,231,225,.8) 50%, transparent 50%);
    background-size:40px 40px;
    background-repeat:repeat;
}

.flbst0{fill:#231815;}.flbst1{fill:none;stroke:#231815;stroke-miterlimit:10;}.flbst2{fill:#FFFFFF;}.flb2st0{fill:#231815;}.flb2st1{fill:none;stroke:#231815;stroke-miterlimit:10;}.flb2st2{fill:#FFFFFF;}
.st0{ fill:#231815;}
.st1{fill:#D13333;}
.st2{fill:#474342;}
.st3{fill:none;stroke:#474342;stroke-miterlimit:10;}
.st4{fill:#605B5A;}
.st5{fill:none;stroke:#605B5A;stroke-miterlimit:10;}
.st6{fill:#E2BFAF;}
.st7{fill:none;stroke:#E2BFAF;stroke-miterlimit:10;}
.st8{fill:#684D36;}
.st9{fill:none;stroke:#684D36;stroke-miterlimit:10;}
.st10{fill:#8E6C4A;}
.st11{fill:none;stroke:#8E6C4A;stroke-miterlimit:10;}
.st12{fill:#F7F0E7;}
.run1st0{fill:#231815;}
.run1st1{fill:none;stroke:#231815;stroke-miterlimit:10;}
.run1st2{fill:#D13333;}
.run1st3{fill:#474342;}
.run1st4{fill:none;stroke:#605B5A;stroke-miterlimit:10;}
.run1st5{fill:#605B5A;}
.run1st6{fill:#8E6C4A;}
.run1st7{fill:none;stroke:#8E6C4A;stroke-miterlimit:10;}
.run1st8{fill:#684D36;}
.run1st9{fill:#E2BFAF;}
.run1st10{fill:none;stroke:#E2BFAF;stroke-miterlimit:10;}
.run1st11{fill:#F7F0E7;}
.run3st0{fill:#8E6C4A;}
.run3st1{fill:none;stroke:#8E6C4A;stroke-miterlimit:10;}
.run3st2{fill:#474342;}
.run3st3{fill:none;stroke:#474342;stroke-miterlimit:10;}
.run3st4{fill:#605B5A;}
.run3st5{fill:none;stroke:#605B5A;stroke-miterlimit:10;}
.run3st6{fill:#684D36;}
.run3st7{fill:none;stroke:#684D36;stroke-miterlimit:10;}
.run3st8{fill:#E2BFAF;}
.run3st9{fill:none;stroke:#E2BFAF;stroke-width:1.205;stroke-miterlimit:10;}
.run3st10{fill:#D13333;}
.run3st11{fill:none;stroke:#D13333;stroke-miterlimit:10;}
.run3st12{fill:#F7F0E7;}
.run3st13{fill:none;stroke:#F7F0E7;stroke-miterlimit:10;}
.run3st14{fill:#231815;}
.run3st15{fill:none;stroke:#231815;stroke-miterlimit:10;}

