.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

.button{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
    padding-left:15px;
    padding-top:5px;
    padding-right:15px;
    padding-bottom:5px;
    border-radius:4px;
    letter-spacing:1px;
    display:flex;
    flex-direction:column;
    box-shadow:1px 1px 2px rgba(208,208,208,218);
}

.button1{
    background:rgba(228,228,228,228);
}

.button1:hover{
    background:rgba(238,238,238,228);
}

.button2{
    background:rgba(195,186,199,228);
}

.button2:hover{
    background:rgba(226,217,231,228);
}

.remove-line:hover{
    text-decoration:line-through;
}

.grand-button{
    background-color: #a192a9;
    border: 1px solid #73637b;
    text-shadow: 0 1px 1px #73637b;
    color: #FFFFFF;
    text-align: center;
    -webkit-box-shadow: inset -1px 2px 0 rgba(246, 227, 255, 0.3);
    box-shadow: inset -1px 2px 0 rgba(246,227, 255, 0.3);
    padding: 10px;
    margin-right:10px;
    height:90%;
    min-width:60px;
    letter-spacing:2px;
    font-size:14px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top:auto;
    margin-bottom:auto;
}

.grand-button:disabled{
    background-color: rgba(158,158,158,1);
    border: 1px solid dimgray;
    cursor:default;
}

.grand-button:disabled:hover{
    background-color: rgba(158,158,158,1);
}

.grand-button:hover{
    background:#c1a6cf;
}

.back-button{
    background-color: rgba(230,230,230,1);
    border: 1px solid rgba(180,180,180,1);
    color: rgba(130,130,130,1);
    text-align: center;
    -webkit-box-shadow: inset -1px 2px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset -1px 2px 0 rgba(255,255, 255, 0.4);
    padding: 10px;
    height:90%;
    min-width:4rem;
    letter-spacing:2px;
    font-size:14px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top:auto;
    margin-bottom:auto;
}

.back-button:hover{
    background:rgba(239,239,239,1);
}

.error-box{
     min-height:2.5rem;
     max-height:2.5rem;
     height:auto;
     min-width:10rem;
     background:rgba(223,216,214,255);
     border:5px solid rgba(181,163,160,218);
     border-top:none;
     transform:translateY(-100%);
     line-height:2.5rem;
     padding-left:15px;
     padding-right:15px;
     font-weight:bold;
     font-size:16px;
     color:rgba(108,95,93,255);
     z-index:99;
    margin-left:auto;
    margin-right:auto;
 }


.badges{
    background-image:url('/img/badges.png');
    min-width:70px;
    min-height:70px;
    height:70px;
    width:70px;
}

.badgeFont{
    text-shadow: 0 1px 1px white;
    color:rgba(251,161,0,255);
    width:100%;
    text-align:center;
}