#userPage{
    display:flex;
    flex-direction:row;
    flex:1;
}

#userPageContents{
    display:flex;
    flex:1;
}

#userPageContents >div{
    margin-left:auto;
    margin-right:auto;
}

#mainError{
    margin:auto;
    font-weight:bold;
    width:15rem;
    word-break:break-all;
    height:auto;
    font-size:24px;
    line-height:1.8rem;
}

#userPage #guideBar{
    border-right:solid 1px rgba(215,215,215,215);
    box-shadow:1px 1px 2px rgba(208,208,208,218);
    display:flex;
    flex-direction:column;
    min-width:12rem;
    width:12rem;
    font-weight:normal;
}

#userPage #guideBar >div:nth-child(1){
    min-height:12rem;
    font-size:14px;
}

#userPage #guideBar >div:nth-child(2){
    background:rgba(223,216,214,255);
    height:auto;
    display:flex;
    flex-direction:column;
}


#userPage .dashLine{
    background:rgba(215,215,215,215);
    width:80%;
    height:1px;
    min-height:1px;
    margin-left:auto;
    margin-right:auto;
}

.userName{
    font-weight:bold;
}

#userInfo{
    padding-left:10px;
}

#userInfo i{
    margin-right:4px;
}

#userInfo button{
    color:rgba(108,95,93,255);
    padding-left:8px;
    padding-right:8px;
    padding-top:1px;
    padding-bottom:1px;
}


#userFunction{
    display:flex;
    flex-direction:column;
    margin-right:15px;
    margin-left:auto;
}

#userFunction >div{
    margin-top:5px;
}

#userFunction >div:last-child{
    margin-bottom:auto;
}

#tagPanel{
    display:flex;
    flex-direction:column;
    color:rgba(131,131,131,215);
}

#tagPanel >a{
    margin-right:3px;
    margin-left:auto;
    margin-bottom:4px;
    color:rgba(131,131,131,215);
    text-decoration:none;
}

#tagPanel >a:Hover{
    color:rgba(181,181,181,215);
}

#classification >a{
    text-decoration:none;
}

#classification >a{
    background:rgba(0,0,0,0);
    color:rgba(108,95,93,255);
    font-weight:bold;
    width:100%;
    padding-top:8px;
    padding-bottom:8px;
    font-size:14px;
    text-align:center;
    letter-spacing:2px;
}

#classification a:hover{
    color:white;
    background:rgba(181,163,160,218);
}

#ownData{
    background:rgba(158,142,166,255);
    display:flex;
    flex-direction:column;
    height:auto;
}

#ownData a{
    background:rgba(0,0,0,0);
    color:rgba(108,95,93,255);
    font-weight:bold;
    width:100%;
    padding-top:8px;
    padding-bottom:8px;
    font-size:14px;
    text-align:center;
    letter-spacing:2px;
    color:white;
    text-decoration:none;
}

#ownData a:hover{
    background:rgba(119,111,144,255);
}