<style>
    #statement{
        width:85%;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        flex-direction:column;
        font-family:SimSun, serif, Arial, "Microsoft YaHei UI";
    }

    #statement p{
        margin-bottom:0.5rem;
        margin-top:0.5rem;
        text-indent:2rem;
    }

    .title{
        padding-top:10px;
        margin-bottom:0;
        margin-top:1.5rem;
        width:auto;
        max-width:6rem;
    }

    h3{
        margin-left:auto;
        margin-right:auto;
        margin-bottom:1rem;
    }

    ul{
        margin-left:4rem;
    }

    li{
        margin-top:1.5rem;
    }
</style>

<div id="statement">
<h3>尊敬的中国地区用户，您好</h3>
<p>感谢阅读本服务细则，如需使用本站服务，请详细阅读后再决定是否使用，一经注册，视同您已经同意该服务声明相关条款</p>
<span class="title"><span class="info">本站提供：</span></span>
<ul>
    <li>您的原创作品<b><u>存储保护</u></b>服务
        <p style="margin-left:2rem;">我们的网站为您的作品提供设置密码服务，并在后台以密文形式存储，如果您有需要，请使用该功能保护您的作品。</p>
        <p style="margin-left:2rem;">使用密码保护的作品本站不认定为发表作品，因此原则上我们不做<b>主动审查</b>，但请勿利用该功能实行任何违法行为，一经发现核实后该文章会被彻底屏蔽（仅账号拥有者本人可见)，<b>并根据情况严重性上报相关部门。</b></p>
        <p style="margin-left:2rem;">请妥善保存您的密码，因密码泄露造成的相关法律后果本站概不负责，但会尽本站所能提供法律援助。</p>
    </li>
    <li>文章、游戏、图画等相关同人作品发表服务
        <p style="margin-left:2rem;">本站鼓励多种多样形式的同人创作，不管您从事何种创作，您发布的作品内容都必须符合您所在地区的相关法律法规，尽管本站存在分级阅览制度，但如果您发布的作品内容在分级之外仍存有不符合当地法律法规的内容，本站将依法对您的作品进行屏蔽处理。</p>
    </li>
</ul>
<span class="title"><span class="info">本站禁止：</span></span>
<ul>
    <li>禁止任何形式的外部搜索
        <p style="margin-left:2rem;">本站创立的主旨就在于<b>保护同人创作者的作品</b>，使他们的作品得以在合适的时机展现出自己应有的价值，因此本站禁止任何形式的镜像站和外挂搜索，如有发现，将诉诸法律寻求庇护。</p>
        <p style="margin-left:2rem;">创站者技术有限，仅凭一腔热忱，或许无法从这个世界中诸多技术手段中完美保护创作者的作品，同为知识资本创作者，希望各位同行念及创作不易，共同建设属于我们的精神家园。</p>
    </li>
    <li>禁止任何反动、暴力、涉及国家领土完整性的言论
        <p style="margin-left:2rem;">为了保护创作自由，本站只谈风月，不涉政治，任何涉及政治、暴力、反动的言论，一经发现立刻进行封号、IP封禁处理，作者相关作品将立刻将被屏蔽并记录上报相关部门。</p>
    </li>
    <li>禁止发布原作者已明确禁止的作品
        <p style="margin-left:2rem;">二次创作是对原作的尊重，原作者的意愿是我们必须考虑的，您可以存储、但不能发布原作者已经禁止二次创作的作品。</p>
    </li>
    <li>其他中国法律明文禁止的行为
        <p style="margin-left:2rem;">其他中国法律所明文禁止的违法犯罪行为。</p>
    </li>
</ul>
    <span class="title"><span class="info">本站坚持：</span></span>
    <ul>
        <li>不设置敏感词
            <p style="margin-left:2rem;">不论被表达的是怎样的思想，文字本身无罪，本站坚持不使用敏感词侦测机制，全部的内容检测将由真人完成，因此将严格控制志愿审核者与发表文章数量的比例，使本站维持在一个志愿者与审核数量较为平衡的规模上。</p>
        </li>
        <li>绝不清除您的作品
            <p style="margin-left:2rem;">不管是什么理由导致服务器不得不关闭，本站都将尽其所能提供所有相关作品的存档。</p>
        </li>
        <li>创作者管理
            <p style="margin-left:2rem;">本站将坚持创作者运营、创作者设计、创作者管理、创作者开发的运营模式，运营所得收入扣除必备支出外将用于网站的建设，作为捐赠者您可以通过获取账单来监督相关财务的支出与花销，并随时停止捐赠。</p>
        </li>
    </ul>
    <p style="margin-top:2rem;margin-bottom:2rem;">如您在注册时没有阅读该声明，现在想要退出本站，请点击下方“联系站主”，站主将删除您的账户相关信息。</p>
</div>