<script>
    var ERRINFO = "<%- error %>";
</script>

<div style="display:flex;flex-direction:column;width:100%;">
    <div style="margin:auto;flex:1;display:flex;flex-direction:column;padding-bottom:2rem;">
        <div error-panel style="margin-top:auto;line-height:1.5rem;margin-bottom:10px;"></div>
        <div style="width:100%;margin-left:2rem;border-top:solid 1px rgba(188,188,188,218);border-bottom:solid 2px rgba(188,188,188,218);margin-bottom:auto;min-height:3px;"></div>
    </div>
</div>