<style>
    #searchBar{
        background:rgba(223,216,214,255);
        color:rgba(108,95,93,255);
        width:85%;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
        padding-top:5px;
        padding-bottom:5px;
        margin-top:1rem;
        font-size:15px;
    }
    #searchBar >div{
        border-left:solid 8px rgba(181,163,160,218);
        height:1.5rem;
        line-height:1.5rem;
        display:flex;
        flex-direction:row;
        padding-left:8px;
    }
</style>

<div id="searchList" style="margin-left:auto;margin-right:auto;min-width:80rem;" ng-controller="searchCon">
    <div id="searchBar">
        <div>进阶搜索：
        </div>
    </div>
    <div id="waitingBoard"  ng-show="searching" style="font-size:35px;font-weight:bold;padding-top:2rem;">
        等待加载<i class="fa fa-spinner fa-spin" style="margin-left:1rem;"></i>
    </div>
    <div id="errBoard"  ng-show="showErr && !searching">
        {{err}}
    </div>
    <div ng-show="!searching && !showErr" style="display:flex;flex-direction:column;padding-top:3rem;">
        <work-info ng-repeat="item in receivedList" infoType="1" info="{{item}}"></work-info>
    </div>
</div>