<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <% if(title){ %>
    <title><%- title %></title>
    <% }else{ %>
    <title>cleeArchive</title>
    <% } %>

    <% lib.forEach(function(item){ %>
    <script src='<%= item %>'></script>
    <% }) %>

    <script defer="defer" src="https://cdn.jsdelivr.net/npm/svgxuse@1.2.6/svgxuse.min.js"></script>
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.8.2/js/all.min.js"></script>

    <script src="/js/JsExt.js"></script>

    <link rel="stylesheet" href="/css/archive/layout.css">
    <link rel="stylesheet" href="/css/archive/button.css">
    <link rel="stylesheet" href="/css/animation.css">

    <script>var app = angular.module('cleeArchive',[]);</script>
    <script src="/service/userService.js"></script>
    <script src="/templates/log_con.js"></script>
    <script>
        app.controller('entryCon',function($scope,$rootScope,$window,$timeout,loginManager){
            window.addEventListener("click",function(event){
                $rootScope.$broadcast('clicked',{event:event});
            });

            $rootScope.err = '<%- err %>';
            $rootScope.readerId = '<%- userId %>';
            $rootScope.variables = JSON.parse('<%- JSON.stringify(variables) %>');
            for(let attr in $rootScope.variables){
                $rootScope[attr] = $rootScope.variables[attr];
            };

            $scope.signal = '';
            $scope.alertInfo = '';
            $scope.alertData = null;
            $scope.showAlert = false;
            $scope.showError = false;

            $scope.$on('showAlert',function(event,data){
                $scope.showAlert = true;
                $scope.alertInfo =  data.alertInfo || '';
                $scope.signal = data.signal || '';
                $scope.alertData = data.variables;
            });

            $scope.$on('showError',function(event,data){
                $scope.showError = true;
                $scope.$broadcast('showErrorText',data);
            });


            $scope.tellYes = function(){
                $scope.showAlert = false;
                let response = {signal:$scope.signal};
                if($scope.alertData)
                    response.variables = $scope.alertData;
                $rootScope.$broadcast('tellYes',response);
            };

            $scope.tellNo = function(){
                $scope.showAlert = false;
                $rootScope.$broadcast('tellNo',{signal:$scope.signal});
            };

            $scope.loggingOut = false;
            $scope.freezingClick = false;

            $scope.showDashboard = false;
            $scope.showLoginboard = false;

            $scope.switchDashboard = function(event){
                $scope.showDashboard = !$scope.showDashboard;
                $scope.freezingClick = true;
                $timeout(function(){
                    $scope.freezingClick = false;
                },500);
            };

            $scope.switchLoginboard = function(event){
                $scope.showLoginboard = !$scope.showLoginboard;
                $scope.freezingClick = true;
                $timeout(function(){
                    $scope.freezingClick = false;
                },500);
            };

            $scope.logout = function(){
                loginManager.requestLogout();
                $scope.loggingOut = true;
                $scope.showDashboard = false;
            };

            $scope.$on('logoutFinished',function(event,data){
                $scope.loggingOut = false;
                if(data.success)
                    window.location.reload();
                else
                    $scope.$emit('showError',data.message);
            });

            $scope.$on('clicked',function(event,data) {
                if(!data.event.target)
                    return;
                if(!data.event.target.className.indexOf)
                    return;
                if (data.event.target.className.indexOf('dashboard') == -1 && !$scope.freezingClick && $scope.showDashboard)
                {
                    $scope.showDashboard = false;
                    $scope.$apply();
                }
            });
        });


        app.directive('initialisation',['$rootScope',function() {
            return {
                restrict: 'AC',
                link: function($scope) {
                    var to;
                    var listener = $scope.$watch(function() {
                        clearTimeout(to);
                        to = setTimeout(function () {
                            listener();
                            $scope.$broadcast('initialisation completed');
                        }, 50);
                    });
                }
            };
        }]);
    </script>
    <% services.forEach(function(item){ %>
    <script src='<%= item %>'></script>
    <% }) %>

    <% styles.forEach(function(item){ %>
    <link rel="stylesheet" href="<%= '/css/'+ item +'.css' %>">
    <% }) %>

    <script src="/view/modules/button.js"></script>

    <% controllers.forEach(function(item){ %>
    <script src='<%= item %>'></script>
    <% }) %>

    <% modules.forEach(function(item){ %>
    <script src='<%= item %>'></script>
    <% }) %>

</head>
<style>
</style>
<body ng-app="cleeArchive" ng-controller="entryCon" style="display:flex;flex-direction:column;">
<div ng-show="showAlert || showError" style="position:fixed;z-index:99;left:0;top:0;width:100%;height:100%;display:flex;pointer-events:none;">
    <div class="error-box" ng-show="showError">
    </div>
    <div style="position:fixed;left:0;top:0;width:100%;height:100%;background:black;opacity:0.75;z-index:0" ng-show="showAlert"></div>
    <div class="alert" ng-show="showAlert">
        <div><div style="padding-top:3px;">提示信息</div> <button style="margin-left:auto;" ng-click="tellNo()"><i class="fas fa-times"></i></button></div>
        <div style="background:rgba(200,200,200,255);height:1px;width:68%;margin-left:auto;margin-right:auto;"></div>
        <div ng-repeat="info in alertInfo">{{info}}</div>
        <div>
            <button ng-click="tellYes()" class="grand-button">确定</button>
            <button ng-click="tellNo()" class="back-button">取消</button>
        </div>
    </div>
</div>
<div id="header">
    <div id="userBoard">
        <div style="font-family:'Microsoft YaHei UI';font-size:32px;font-weight:bold;margin-left:3rem;color:rgba(158,142,166,255);">ARCHIVE</div>
        <div style="font-family:'Microsoft Yahei UI';font-size:14px;height:18px;line-height:18px;font-weight:bold;margin-left:8px;margin-bottom:5px;margin-top:auto;border-radius:5px;color:white;padding-left:5px;padding-right:5px;background:rgba(158,142,166,255);">CLEE</div>
        <% if(user) { %>
        <a href="<%= '/users/'+user._id %>" style="margin-left:auto;"><div>个人主页</div></a>
        <a href="/fanfic/post/new" target="_blank"><div>新的文章</div></a>
        <a href="" style="display:flex;flex-direction:row;margin-right:2.5rem;" ng-click="switchDashboard($event)">
            <div style="margin-top:auto;margin-bottom:auto;text-align:right;"><%= user.user %></div>
            <div style="margin-left:8px;"><i class="fas fa-caret-down" style="font-size:1.3rem;margin-left:-3px;"></i></div>
        </a>
        <div ng-show="showDashboard" id="dashboard" class="dashboard">
            <% if(user.userGroup >= 999){ %>
            <a class="dashboard" href="/admin">管理员</a>
            <% } %>
            <a class="dashboard" href="'/user/'+user._id+'/setting'">用户设置</a>
            <button ng-click="logout()" ng-disabled="loggingOut" class="dashboard">登出</button>
        </div>
        <% }else{ %>
        <div class="dashboard" ng-show="showLoginboard" style="position:absolute;right:0;top:0;width:480px;max-width:480px;">
            <div ng-include="'/templates/loginBoard.html'" ng-controller="loginCon"></div>
        </div>
        <a style="right:2rem;line-height:2.5rem;z-index:99;position:absolute;" ng-click="switchLoginboard()">登录</a>
        <% } %>
    </div>
    <div style="background:rgba(158,142,166,255);width:100%;height:2rem;display:flex;flex-direction:row;">
        <div style="display:flex;flex-direction:row;margin-left:auto;margin-right:auto;min-width:600px;">
            <guide_button color="rgba(119,111,144,255)" height="1.8rem" style="margin-left:0px;"><a href="/">首 页</a></guide_button>
            <guide_button color="rgba(119,111,144,255)" height="1.8rem" style="margin-left:0px;"><a href="/fanfic">同 人 创 作</a></guide_button>
            <guide_button color="rgba(119,111,144,255)" height="1.8rem" style="margin-left:0px;"><a href="/tech">技 术 文 档</a></guide_button>
            <guide_button color="rgba(119,111,144,255)" height="1.8rem" style="margin-left:0px;margin-right:auto;"><a href="/design">设 计 参 考</a></guide_button>
        </div>
    </div>
</div>

<div id="main" ng-include="'<%= viewport %>'">
</div>

<div id="footer" style="margin-top:0">
    <div id="publication" class="board" style="margin-left:auto;">
        <div class="headline">网站信息</div>
        <div><a>网站地图</a></div>
        <div><a>网站简介</a></div>
        <div><a>版权声明</a></div>
    </div>


    <div id="contact" class="board" style="margin-right:auto;border:none;">
        <div class="headline">联系我们</div>
        <div><a>提交故障</a></div>
        <div><a>联系站主</a></div>
    </div>
</div>

</body>
</html>