<style>
    #resetPw{
        margin-left:auto;
        margin-right:auto;
        width:100%;
        display:flex;
        flex-direction:column;
        flex:1;
    }

    #resetPw>div{
        text-align:center;
        font-family: Arial,serif;
    }

    #resetPw>div:first-child{
        margin-bottom:0.5rem;
        font-size:1.2rem;

    }

    #resetPwMain{
        border-radius:4px;
        border:solid 1px rgba(185,185,185,1);
        width:15rem;
        padding:2rem;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        flex-direction:column;
    }

    #resetPwMain >div{
        margin-bottom:1.5rem;
        text-align:left;
    }

    #resetPwMain >div:last-child{
        margin-bottom:0;
    }

    #resetPwMain button{
        width:100%;
        font-family: Arial ,serif;
        padding-top:3px;
        padding-bottom:3px;
    }

    #resetPwMain input{
        width:100%;
        height:1.5rem;
    }

    #resetPw a{
        font-size:0.85rem;
        font-weight:normal;
        font-family: Arial, serif;
        margin-left:0.8rem;
    }

    #resetPw a:hover{
        cursor:pointer;
    }

    @media screen and (min-device-width:80rem){
    }
</style>

<div id="resetPw" ng-controller="pwdCon">
   <div> <%- websiteInfo[96] %> </div>
    <div id="resetPwMain">
        <div ng-show="!resetCompleted"> <%- websiteInfo[97] %> </div>
        <div ng-show="resetCompleted"><%- websiteInfo[101] %></div>
        <div ng-show="!resetCompleted"><input placeholder="<%- websiteInfo[98] %>" ng-model="mail"></div>
        <div><button style="margin-top:auto;margin-bottom:0;"
                     class="ghost-button"
                     ng-disabled="requesting"
                     ng-click="resetPwdMail()"
                     ng-show="!resetCompleted">
            <%- websiteInfo[99] %>
        </button>
            <button style="margin-top:auto;margin-bottom:0;"
                    class="ghost-button white_ghost"
                    ng-click="returnToHome()"
                    ng-show="resetCompleted">
                <%- websiteInfo[100] %>
            </button>
        </div>
    </div>
    <div style="margin-top:3rem;">
        <a>Terms</a>
        <a>Privacy</a>
        <a>Security</a>
        <a>Contact</a>
    </div>
</div>