<div id="userPage" ng-controller="dashboard_con">
    <info-receiver
            ng-init="userSetting='<%= JSON.stringify(user.setting) %>';
                     userId='<%= user._id %>';
                     tagList='<%= JSON.stringify(tagList) %>';
                     count = '<%= JSON.stringify(workCount) %>';
                     gradeTemplate = '<%= JSON.stringify(fanfic_grade) %>';">
    </info-receiver>

    <div id="guideBar">
        <div id="userInfo" style="display:flex;flex-direction:column;">
            <div style="min-height:5rem;height:5rem;width:100%;display:flex;flex-direction:row;">
                <div style="width:4rem;min-width:4rem;"></div>
                <div id="userFunction">
                    <div><button><i class="fa fa-envelope" style="margin-right:0.5rem;"></i><%- websiteInfo[71] %></button></div>
                    <div><button><i class="fa fa-plus" style="margin-right:0.5rem;"></i><%- websiteInfo[72] %></button></div>
                </div>
            </div>

            <div class="userInfo"><%- websiteInfo[73] %>: <span><%- user.user %></span></div>
            <div><b>&nbsp<%- websiteInfo[77] %></b></div>
            <div class="userInfo">&nbsp&nbsp<%- websiteInfo[74] %>: <span>0</span></div>
            <div class="userInfo">&nbsp&nbsp<%- websiteInfo[75] %>: <span>0</span></div>
            <div class="userInfo">&nbsp&nbsp<%- websiteInfo[76] %>: <span>0</span></div>
            <div class="userInfo" style="margin-top:1rem;">&nbsp<b><%- websiteInfo[26] %></b>:</div>
            <div style="margin-left:10px;min-height:4rem;text-overflow:ellipsis;word-break:break-all;overflow:hidden;margin-left:1.5rem;">
                <%- user.intro %>
            </div>
        </div>

        <div id="classification">
            <a href="<%- '/users/'+user._id %>"><%- websiteInfo[78] %></a>
            <div class="dashLine" style="background:rgba(181,163,160,218);"></div>
            <a href="<%- '/users/'+user._id +'?pageId=1000' %>"><%- websiteInfo[79] %></a>
            <div class="dashLine" style="background:rgba(181,163,160,218);"></div>
            <a href="<%- '/users/'+user._id +'?pageId=1005' %>"><%- websiteInfo[80] %></a>
            <div class="dashLine" style="background:rgba(181,163,160,218);"></div>
            <a href="<%- '/users/'+user._id +'?pageId=1010' %>"><%- websiteInfo[81] %></a>
        </div>
        <div id="ownData">
            <% if(user && user._id == readerId) { %>
            <a href="<%- '/users/'+user._id +'?pageId=1020' %>"><%- websiteInfo[82] %></a>
            <% } %>
        </div>
        <div style="margin-top:2rem;" id="tagPanel">
            <a ng-repeat="item in tagList | tagFilter" href="{{ '/users/'+userId+'?pageId=1025&tagId='+ item._id}}" >{{item.tag.name}}({{item.totalCount}})</a>
        </div>
    </div>



    <div id="userPageContents" style="max-width:100%;overflow:hidden;">
        <div id="waitingBoard"  ng-show="!contentsLoaded" style="font-size:30px;font-weight:bold;padding-top:2rem;">
            <%- websiteInfo[62] %><i class="fa fa-spinner fa-spin" style="margin-left:1rem;"></i>
        </div>
        <div id="mainError" ng-show="showError"><i class="fas fa-quote-left"></i> {{error}} <i class="fas fa-quote-right"></i></div>

        <div class="dashboard" ng-show="contentsLoaded && !showError && pageId == 0" id="listInfo">
            <div style="display:flex;flex-direction:row;width:100%;margin-bottom:2rem;">
                <a  href="<%- '/users/'+user._id +'?pageId=1000' %>" style="margin-left:auto;" ng-show="count['0'] != undefined">作品({{count['0']}})</a>
                <a  href="<%- '/users/'+user._id +'?pageId=1005' %>" ng-show="count['5'] != undefined">推荐({{count['5']}})</a>
                <a  href="<%- '/users/'+user._id +'?pageId=1010' %>" style="margin-right:auto;" ng-show="count['10'] != undefined">系列({{count['10']}})</a>
            </div>
            <div ng-show="receivedList.length == 0" style="margin:auto;">当前作者没有任何更新记录</div>
            <work-info ng-repeat="item in receivedList" infoType="1" info="{{item}}"></work-info>
        </div>

        <div class="dashboard" ng-show="contentsLoaded && !showError && pageId == 1005">
            <div ng-show="receivedList.length == 0" style="margin:auto;">当前作者没有作出任何推荐</div>
        </div>

        <div class="dashboard" ng-show="contentsLoaded && !showError && pageId == 1010">
            <div ng-show="receivedList.length == 0" style="margin:auto;">当前作者没有添加过任何系列作品</div>
        </div>

        <div class="dashboard" style="flex-direction:row;" ng-show="contentsLoaded && !showError && pageId == 1020" ng-include="'<%- '/dynamic/dataAnalysis/'+user._id %>'">

        </div>

        <div class="dashboard workDashboard" ng-show="contentsLoaded && !showError && pageId == 1000 ">
            <div style="min-height:4rem;height:4rem;width:100%;"></div>
            <div ng-show="receivedList.length == 0 && pageId == 1000" style="margin:auto;">当前作者没有发布任何作品</div>
            <work-info ng-repeat="item in receivedList" infoType="0" info="{{item}}"></work-info>
        </div>

        <div class="dashboard workDashboard" ng-show="contentsLoaded && !showError && pageId == 1025 ">
            <div style="min-height:4rem;height:4rem;width:100%;"></div>
            <work-info ng-repeat="item in receivedList" infoType="1" info="{{item}}"></work-info>
        </div>
        <page-index pid='pageIndex' tnm="maxLimit" ppg="perPage"></page-index>
    </div>
</div>