<style>
    #introBoard {
        display:flex;
        flex-direction:column;
        margin-left:auto;
        margin-right:auto;
        flex:1;
        width:100%;
    }

    .badges:hover{
        border-bottom:solid 4px rgba(158,142,166,1);
        transition: border-bottom-width 0.2s;
    }

    .unknown{
        animation:blink 1s infinite ease-in-out;
        font-weight:bold;
        color: rgba(158,142,166,255);
        margin-right:0.5rem;
        margin-left:0.5rem;
    }

    .known{
        margin-right:0.5rem;
        margin-left:0.5rem;
        font-weight:bold;
        color:inherit;
    }

    #badgeRow{
        min-height:70px;
        margin-top:0.5rem;
        margin-bottom:1rem;
    }

    #badgeRow >div{
        margin-right:0.5rem;
        margin-left:0.5rem;
    }

    #applyBoard{
        display:flex;
        flex-direction:column;
        border:1px solid rgba(181,163,160,0.8);
        margin:0.5rem;
    }

    #applyBoard textarea{
        resize:none;
        margin-top:0.5rem;
        min-height:15rem;
        width:calc(100% - 4.75rem);
        margin-bottom:1rem;
        padding:5px;
        font-size:0.8rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #applyBoard input{
        height:1.5rem;
        padding:5px;
        width:calc(100% - 4rem);
    }

    .contents{
        width:100%;
        margin-right:2rem;
        font-size:1rem;
        text-indent:2rem;
        margin-bottom:2rem;
        margin-left:2rem;
    }

    h1{
        font-size:1rem;
        text-indent:0;
        margin-bottom:0.5rem;
    }

    p{
        margin-bottom:0.5rem;
    }

    @media screen and (min-device-width:80rem){
        .contents{
            max-width:25rem;
            font-size:0.85rem;
            text-indent:1.5rem;
            margin-bottom:2rem;
        }

        #introBoard{
            flex-wrap:wrap;
            max-width:60rem;
            height:65rem;
            max-height:65rem;
        }
    }
</style>

<div id="introBoard" ng-controller="introCon">
    <info-receiver
            ng-init="message_0 = '<%- escape(statements[18]) %>';
            message_1 = '<%- escape(statements[19]) %>';
            message_2 = '<%- escape(statements[20]) %>';">
    </info-receiver>
    <div class="contents" style="text-indent:1rem;">
        <h1><%- websiteInfo[111] %></h1>
        <p><%- websiteInfo[112] %> </p>
        <p><b><%- websiteInfo[113] %></b>：<span class="unknown">??</span><%- infoAll[17] %></p>
        <div style="padding-left:2rem;">
            <p><b><%- websiteInfo[114] %></b>：<span class="unknown">??</span><%- infoAll[17] %></p>
            <p><b><%- websiteInfo[116] %></b>：<span class="unknown">??</span><%- infoAll[17] %></p>
            <p><b><%- websiteInfo[115] %></b>：<span class="unknown">??</span><%- infoAll[17] %></p>
        </div>
        <p><b><%- websiteInfo[117] %><span class="unknown">??</span><%- websiteInfo[118] %></b></p>
        <div style="padding-left:2rem;">
            <p><b><%- websiteInfo[121] %></b>：<span class="unknown">??</span> <%- websiteInfo[118] %></p>
            <p><b><%- websiteInfo[122] %></b>：<span class="unknown">??</span> <%- websiteInfo[119] %></p>
            <p><b><%- websiteInfo[123] %></b>：<span class="unknown">??</span> <%- websiteInfo[120] %></p>
        </div>
    </div>
    <div class="contents">
        <h1><%- websiteInfo[124] %></h1>
        <%- statements[13] %>
    </div>
    <div class="contents">
        <h1><%- websiteInfo[125] %></h1>
        <%- statements[14] %>
    </div>
    <div class="contents">
        <h1><%- websiteInfo[126] %></h1>
        <%- statements[15] %>
        <div id="badgeRow" style="display:flex;flex-direction:row;">
            <div class="badges" style="" ng-click="showExplain(1)"></div>
            <div class="badges" style="background-position-x:-70px;filter:grayScale(1);" ng-click="showExplain(2)"></div>
        </div>
        <div style="display:flex;"><button class="grand-button" style="height:2rem;padding-top:5px;margin-left:auto;margin-right:auto;" ng-click="donate()"><%- infoAll[18] %></button></div>
    </div>
    <div class="contents">
        <h1><%- websiteInfo[127] %></h1>
        <%- statements[16] %>
        <div id="applyBoard">
            <div style="margin-top:1.5rem;"><input ng-model="mail" ng-disabled="requesting" placeholder="<%- infoAll[19] %>"> <i class="fa fa-spinner fa-spin" style="margin-left:5px;" ng-show="requesting"></i></div>
            <div style="min-height:0.8rem;margin-left:2rem;margin-right:2rem;"><span id="existedSign" style="display:none;margin-top:5px;"><%- statements[17] %></span></div>
            <div><textarea ng-model="statements" ng-disabled="requesting || existed" placeholder="<%- websiteInfo[128] %>" maxlength="500"></textarea></div>
            <div  style="display:flex;margin-bottom:1rem;">
                <button class="grand-button" ng-click="submitApplication()" ng-disabled="requesting || existed" style="height:2rem;padding-top:5px;margin-left:auto;margin-right:1rem;margin-bottom:1rem;"><%- infoAll[20] %></button>
            </div>
        </div>
        <p><%- websiteInfo[129] %></p>
    </div>
</div>